<div class="page-header">
    <h1>リツイートしたユーザー</h1>
</div>
<div class="list-group">
    <% @users.each do |user| %>
        <%= gravatar_for user %>
        <%= user.name %><br>
        <span><%= link_to "view profile", user %></span>
        <br><br><br><br><br><br>
    <% end %>
</div>